/* Sass shit */
// this was for testing
//body {
//    background: black;
//}

@use "typography/base";
@use "typography/hover";

@import "settings";
@import "../node_modules/foundation-sites/scss/foundation.scss";
@include foundation-xy-grid-classes;
@include foundation-float-classes;
@include foundation-visibility-classes;
@include foundation-reveal;

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}